</main>

<footer>
</footer>
</body>
<!--Jquery-->
<script src="/lib/jquery/dist/jquery.min.js"></script>
<!--Popper-->
<script src="/lib/popper.js/dist/popper.min.js"></script>
<!--Bootstrap-->
<script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<!--Proprietário-->
<script src="/js/padrao.js"></script>

</html> 