<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%=title%></title>
  <link rel="stylesheet" type="text/css" href="/lib/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/lib/bootstrap/dist/css/bootstrap-grid.min.css">
  <link rel="stylesheet" type="text/css" href="/css/padrao.css">
</head>
<body>
  <header>
     <nav class="fixed-top navPadrao <%=nav%>">
      <ul class="container body-content">
        <li>
          <a href="/" class="logo">
            <img src="/img/search.svg" title="Prova.med" alt="Logo do site"/>
            <h1 class="h4">Provas.med</h1>
          </a>
        </li>
        <li class="ativo"><a href="/">Inicio</a></li>
        <li id="itempesquisa">
          <form action="" method="GET">
            <label class="pesquisa">
              <input type="text" placeholder="Procurar Vestibulares" name="vest"/>
              <button type="submit">
                <img src="/img/search.svg" title="Pesquisar" alt="Botão com uma lupa"/>
              </button>              
            </label>
            
          </form>
        </li>
        <li><a href="/principal">Professor</a></li>
        <li><a href="/login">Acesso</a></li>
      </ul>
     </nav>
  </header>  

   <main>
     