<!-- Modal -->
<div class="modal fade" id="ModalLista" tabindex="-1" role="dialog" aria-labelledby="ModalLista" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TituloModalCentralizado">Título do modal</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-crud" data-dismiss="modal">Fechar</button>
                <button type="button" id="deletarProva" class="btn btn-danger btn-crud">Deletar</button>
                <button type="button" id="visualizarProva" class="btn btn-primary btn-crud">Modificar</button>       
            </div>
        </div>
    </div>
</div>