<% include ../partials/head.ejs %>

<div class=" backdoc">
    <div class="fundoDegrade">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="container infoOne">
            <div class=" centralizado">
                <div class="logo">
                    <img src="/img/search.svg" title="Prova.med" alt="Logo do site"/>
                    <h2 class="h1 logoTitulo">Provas.med</h2>
                </div>
                <br>
                <h3>Banco de Questões / Vestibulares</h3>
                <h3>para Medicina</h3>
                <br>
                <br>
                <br>
                <p class="justificado lg">
                    Estudante  que  está procurando conteúdo especifico da área   ou  professor  que  quer  alimentar  ainda  mais  o banco de dados para seus alunos terem mais opções de estudos.
                </p>
                <br>
                <div class="aDireita">
                    <a href="#" class="btn btn-padrao">
                        Saiba mais
                    </a>
                </div>
            </div>    
        </div>
    </div>
</div>
<div class="">
    <div class="container infoTwo">
        <br>
        <h2 class="subTitulo">
            Serviço
        </h2>
        <br>
        <br>
        <div class="row">
            <div class="col-lg-4 centralizado tituloServico">
                <img src="/img/single.svg" alt="Caderno com uma ponta no canto inferior direito" title="Específico"/>
                <h3>Específico</h3>
                <p class="justificado">Apenas conteúdo de medicina</p>
            </div>
            <div class="col-lg-4 centralizado tituloServico">
                <img src="/img/reload.svg" alt="Duas seta em ciclo" title="Autossutentável"/>
                <h3>Autossutentável</h3>
                <p class="justificado">Professores e a própria staff alimentam o banco</p>
            </div>
            <div class="col-lg-4 centralizado tituloServico">
                <img src="/img/lamp.svg" alt="Lâmpada acessa" title="Prático"/>
                <h3>Prático</h3>
                <p class="justificado">Funcionalidades intuitivas e fáceis de aprender</p>
            </div>
        </div>
        <br>
        <br>
        <p class="justificado tx-lg">
            Nosso banco de questões é formado por uma gama de vestibulares que têm como foco medicina,
             garantindo que seus estudos e aprendizado, para realizar tais provas, sejam melhor aproveitados.
        </p>
        <p class="justificado tx-lg">
                Existe também a opção para o professor importar uma prova via .pdf para o sistema 
                ler e adicionar ao banco automaticamente, fazendo o professor poupar tempo em reescrever todas as questões. 
        </p>
        <br>
        <br>
    </div>
</div>
<div class="infoThree">
    <div class="container">
            <br>
            <h2 class="subTitulo-white">
                Vestibulares Disponíveis:
            </h2>
            <br>
            <br>
            <div class="row">
                <div class="col-lg-6 subTitulo-white centralizado">
                    Fuvest
                </div>
                <div class="col-lg-6 subTitulo-white centralizado">
                    Vunesp
                </div>
                <div class="col-lg-6 subTitulo-white centralizado">
                    Uninove
                </div>
                <div class="col-lg-6 subTitulo-white centralizado">
                    FEV
                </div>
                <div class="col-lg-6 subTitulo-white centralizado">
                    FCC
                </div>
            </div>
    </div>
</div>
<% include ../partials/foot.ejs %>  
