<% include ../partials/head.ejs %>


<div class="container">
    <br>
    <br>
    <br>
    <br>
    <div class="col-md-2"></div>
    <div class="row col-md-8 centralizado">
        <div class=" col-md-6">
            <a href="/suasProvas" class="btn btn-m">Suas Provas</a>
        </div>        
        <div class=" col-md-6">
            <a href="/bancoQuestoes" class="btn btn-m">Banco de Questões</a>
        </div>
        <br>
        <br>
        <br>
        <div class="col-md-12 afastamento-top-simples">
            <a href="" class="btn btn-m btn-pdf"><h3>Ler .PDF</h3><h4>Em Teste</h4></a>
        </div>
        
    </div>
    
</div>

<% include ../partials/foot.ejs %>  