<% include ../partials/head.ejs %>


<div class="container">
    <br>
    <br>
    <br>
    <br>
    <div class="row col-md-12 centralizado">
        <div class="col-md-8">
            <div class="fundoWhite col-md-12">
                <br>
                <div class="slider">
                    <div class="col-md-12 lista">
                        <div id="prova-1" class="itemLista row">
                            <div class="col-sm-12 row">
                                <h3>Titulo da Prova</h3>
                            </div>
                            <div class="col-sm-12 row">
                                <div class="col-4 semp">
                                    <p>Criado em: <b>00/00/00</b></p>
                                    <p>Modificado em: <b>00/00/00</b></p>
                                </div>
                                <div class="col-3 semp">
                                    <p>Questões: <b>000</b></p>
                                    <p>Respostas: <b>000</b></p>
                                </div>
                                <div class="col-4 semp">
                                    <p>Banca Organizadora:</p>
                                    <p><b>Fundação TAL</b></p>
                                </div>    
                                <div class="col-lg-1 semp">
                                    <div class="circle bg-danger"></div>
                                </div>                
                            </div>
                        </div>
                    </div>
                </div>
                <nav class="col-md-12 afastamento-top-simples aDireita">
                     <a href="/CriacaoProva" id="criarProva" class="btn btn-success btn-crud">Criar</a>
                </nav>
                <br>
            </div>
        </div>        
        <div class="col-md-4">
            <div class="fundoWhite col-md-12">
                <br>
                <div class="slider">
                    <div class="col-md-12 lista cabecalho">
                        <div id="item1" class="itemCabecalho row">
                            <div class="col-10">Nome da Fundação</div>
                        </div>
                        <div id="item1" class="itemLista row">
                            <div class="col-10">
                                <input type="text" value="Nome da Fundação">
                            </div>
                            <button class="circle bg-danger" value="1" width="20">X</button>
                        </div>
                    </div>
                </div>
                <nav class="col-md-12 afastamento-top-simples aDireita">
                    <label class="label">
                        <input type="text" id="txtNome" class="input-90" placeholder="Nome"/>
                    </label>
                    <button type="button" id="criarProva" class="btn btn-success btn-crud">Adicionar</button>
                </nav>
            </div>
        </div>        
    </div>
    
</div>

<% include ../partials/modal.ejs %>  
<% include ../partials/foot.ejs %>  